.home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdIsqRXNV4LOUUQAvyWTzZfcyVrMN1O_X2fg&usqp=CAU');
    color: white;
}

.heading{
    display: flex;
    justify-content: space-between;
    font-family: cursive;
    align-content: center;
    margin:10px;
    padding:10px;
    

}

.nav{
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding: 10px;
}

.navButton{
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding: 10px;
    text-decoration: none;
   
}

.navLink {
    text-decoration: none;
    color: white;
    font-weight: bolde;
}

#logo{
    height:90px;
    width:120px;
}